ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=
DEX_ADAPTER_ADDRESS=
FEE_BPS=100
BASE_PRICE=1000000000000
CURVE_SLOPE=1000000000000
GRADUATION_BPS=8000
